modules = ["nodejs-20", "java-graalvm22.3", "postgresql-16"]
[agent]
expertMode = true

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Angular Dev Server"

[[workflows.workflow]]
name = "Angular Dev Server"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd recipe-app && npm start"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 33103
externalPort = 5173

[[ports]]
localPort = 35139
externalPort = 3000

[[ports]]
localPort = 35279
externalPort = 3001

[[ports]]
localPort = 38227
externalPort = 3002

[[ports]]
localPort = 38589
externalPort = 4200

[[ports]]
localPort = 44911
externalPort = 3003

[[ports]]
localPort = 45143
externalPort = 5000

[deployment]
deploymentTarget = "static"
publicDir = "recipe-app/dist/recipe-app/browser"
build = ["sh", "-c", "cd recipe-app && npm run build"]

[nix]
channel = "stable-25_05"
