modules = ["nodejs-20"]
[agent]
expertMode = true

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Angular Dev Server"

[[workflows.workflow]]
name = "Angular Dev Server"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd recipe-app && npm start"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 35139
externalPort = 3000

[[ports]]
localPort = 35279
externalPort = 3001

[[ports]]
localPort = 36133
externalPort = 4200

[[ports]]
localPort = 38227
externalPort = 3002

[[ports]]
localPort = 44911
externalPort = 3003

[deployment]
deploymentTarget = "autoscale"
publicDir = "Chefai"
run = ["npx", "http-server", "recipe-app/dist/recipe-app/browser", "-p", "5000", "--proxy", "http://localhost:5000?"]
build = ["bash", "-c", "cd recipe-app && node inject-env.js && npm run build && cd .. && rm -rf Chefai && ln -sf recipe-app/dist/recipe-app/browser Chefai"]

[nix]
channel = "stable-25_05"
